<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>

<!--  Incluimos los estilos y Bootstrap-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}">
</head>

<body>

	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Algoritmo KNN</h1>
			</div>
      <form action="{{ url_for('knn') }}"  method="POST" enctype="multipart/form-data">
      			<div class="login-form">
              <!--  -->
      				<div class="control-group">
                  <label for="exampleSelect1">Ingrese el K</label>
                  <input type="text" class="form-control-file" name='k'>
      				</div>
              <div class="control-group">
                  <label for="exampleSelect1">Ingrese el % prueba</label>
                  <input type="text" class="form-control-file" name='porcentaje'>
      				</div>
              <div class="control-group">
                  <label for="exampleSelect1">Ingrese el caso de prueba</label>
                  <input type="text" class="form-control-file" name='caso'>
      				</div>

      				<input type = "submit" class="btn btn-primary btn-large btn-block" value="Calcular"/>

      			</div>
      </form>

		</div>
	</div>



</body>
</html>
