<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>

<!--  Incluimos los estilos y Bootstrap-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}">
</head>

<body>
    <strong><center><h1>RESULTADOS</h1></center></strong>
  <strong>  <h2>########  Datos ingresados  ########</h2></strong>
    <h3>% Prueba= {{porcentajePrueba}}</h3>
    <h3>Archivo= {{ruta}}</h3>
    <h3>Caso de prueba= {{datoPrueba}}</h3>
    <h3>Atributos=
      {% for h in range(n2) %}

          {{cabecera[h]}}
            -
      {% endfor %}
    </h3>
    <h3>Clases=
      {% for item in clases %}

          {{item}}
            -
      {% endfor %}
    </h3>
    <strong>  <h2>########  Datos Calculados  ########</h2></strong>
      <h2>Probabilidad= {{probabilidad}}</h1>
      <h2>Predicción= {{prediccion}}</h1>
</body>
</html>
