<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>

<!--  Incluimos los estilos y Bootstrap-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}">
</head>

<body>

	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Minería de Datos</h1>
			</div>
<form action="{{ url_for('direccionar') }}"  method="POST" enctype="multipart/form-data">
			<div class="login-form">
				<div class="control-group">
          <label for="exampleSelect1">Seleccione el algoritmo</label>
            <select class="form-control" id="exampleSelect1" name='algoritmo'>
              <!-- <option value="1">Red Neuronal</option> -->
              <option value="2">KNN</option>
              <option value="3">Gauss</option>
            </select>
				</div>

        <div class="control-group">
            <input type="file" class="form-control-file" name='archivo'>
        </div>

				<input type = "submit" class="btn btn-primary btn-large btn-block" value="Enviar"/>

			</div>
</form>

		</div>
	</div>



</body>
</html>
